.ContainerB{
    margin-top: 20px;;
    background-color: lightgray;
    height:50px;
    width:250px;
    border:none;
 
 }
 
 .CheckBoxArea1{
    background-color: lightgray;
    height:150px;
    width:250px;
    border:none ;
    align-content: flex-end;
     padding-bottom: 20px;;
 }
 .ButtonB{
    float:right;
 
   
 }
 h6{
    margin-top: 0; 
 }
 
 